@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #272776;
  --secondary-color-1: #7C91DC;
  --secondary-color-2: #6138B9;
  --neutral-black: #151515;
  --neutral-white: ##F9F9F9;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add this to your CSS file */
.animate-character {
  background-image: linear-gradient(
    -225deg,
    #272776 0%,
    #6138B9 50%,
    #7C91DC 100%
  );
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 150px; /* You can adjust this if needed */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.roboto-mono-regular {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.suez-one-regular {
  font-family: "Suez One", serif;
  font-weight: 400;
  font-style: normal;
}


