@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --primary-color: #D5E9FD;
  --secondary-color-1: #9855D4;
  --secondary-color-2: #5AAAFA;
  --neutral-black: #151515;
  --neutral-white: #F9F9F9;
  --text-colour-dark: #152935;
  --text-colour-light: #454f54;
  --text-colour-blue: #2C5281;
  --bg-colour-blue: #D5E9FA;
  --bg-colour-white: #ffffff;
  --bg-colour-off-white: #fffffb;
  --button-color-1: #6138B9;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
main {
  flex: 1;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Add this to your CSS file */
.animate-character {
  background-image: linear-gradient(
    -225deg,
    #272776 0%,
    #6138B9 50%,
    #7C91DC 100%
  );
  background-size: 200% auto;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
  display: inline-block;
  font-size: 150px; /* You can adjust this if needed */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* Background styles */
.bg-off-white {
  background-color: var(--bg-colour-off-white);
}

.bg-white {
  background-color: var(--bg-colour-white);
}

.bg-blue {
  background-color: var(--bg-colour-blue);
}

/* Font styles */
.roboto-font {
  font-family: var(--font-roboto), sans-serif;;
  font-weight: 400;
  font-style: normal;
}

.suez-font {
  font-family: var(--font-suez-one), serif;
  font-weight: 400;
  font-style: normal;
}

.font-body {
  font-family: var(--font-roboto), sans-serif;;
  font-size: 1.12rem;
  font-weight: 400;
  font-style: normal;
}

.font-subtitle {
  font-family: var(--font-roboto), sans-serif;;
  font-size: 1.37rem;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: var(--font-suez-one), serif;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: var(--font-suez-one), serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: var(--font-suez-one), serif;
  font-size: 2.75rem;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: var(--font-roboto), sans-serif;;
  font-weight: 400;
  font-style: normal;
}

/* Navigation links */
a {
  text-decoration: none;
  font-family: var(--font-roboto);
}

a:hover {
  /* color: var(--text-colour-light); */
  font-weight: bolder;
}

/* Font style for Intelli (Logo) */
.font-logo {
  font-family: var(--font-suez-one), serif;
  font-weight: bold;
  color: var(--text-colour-blue);
  text-decoration: none;
  font-weight: 400;
}

.text-dark {
  color: var(--text-colour-dark);
}

.text-light {
  color: var(--text-colour-light);
}

.text-dark-blue {
  color: var(--text-colour-blue);
}

/* Buttons */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color-1);
  color: var(--neutral-white);
  padding: 0.5rem 1rem;
  border-radius: 5px;;
  cursor: pointer;
  margin-left: auto;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1rem;
}

button:hover {
  background-color: var(--secondary-color-1);
}

.button-blue {
  background-color: var(--secondary-color-2);
  color: var(--neutral-black);
}

.button-blue:hover {
  background-color: #85D0F1;
}

/* Layout */

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header of Layout */
.header {
  width: 100%;
  background-color: var(--bg-colour-off-white);
  color: var(--text-colour-blue);
  font-family: var(--font-roboto), sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #000;
}

.header .font-logo{
  font-size: 1.7rem;
}

/* Button inside header */
.header .button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color-1);
  color: var(--neutral-white);
  padding: 0.5rem 1rem;
  border-radius: 32px;;
  cursor: pointer;
  margin-left: auto;
  font-family: var(--font-roboto), sans-serif;
  font-size: 0.8rem;
  /* font-weight: bold; */
}

.header .button:hover {
  background-color: var(--secondary-color-2);
}

/* Body of layout */
.body {
  background-color: var(--bg-colour-blue);
}

/* Footer of layour */
.footer {
  width: 100%;
  background-color: var(--bg-colour-off-white);
  /* color: var(--text-colour-blue);
  font-family: var(--font-roboto), sans-serif;
  font-size: 1vw; */
  padding: 2rem;
  border-top: 1px solid #000;
}